.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    text-align: center;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    margin: auto;
    width: 90vw;
  }
  
  .card {
    margin: 10px 5px;
    width: 10vw;
  }
  
  .dark-mode__toggle {
    background: #1967D2;
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
  .toggle {
    background: #FFFFFF;
    border-radius: 50px;
    height: 18px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 20px;
  }
  
  .toggled {
    left: 18px;
  }
  
  .dark-mode {
    color: #fff;
    background-color: #202124;

    .card {
        background-color: #313235;
    }
  }